In [1]:
from riotwatcher import LolWatcher, ApiError
import pandas as pd

API_KEY = 'RGAPI-172c38e7-4f3e-49d8-a49b-cbb4f31ed835'

In [2]:
my_region = 'la2'
lol_watcher = LolWatcher(API_KEY)
me = lol_watcher.summoner.by_name(my_region, 'srTe')
print(me)

{'id': 'lWi5HaaehFeaGAfBcTt0rC1ZwbGADdfzMufodzqWLxti', 'accountId': '7GCep_kNbjnlDwUs_YzG2m72hscya8h4mONfTirSuY4', 'puuid': 'Tbchv-3XdognbbbeZmtdB-bWEEu4dFuug9aq1lc1vJIDWtcZOv4YHP6a5CnfHO8yqUgR3KMACSt0FA', 'name': 'srTe', 'profileIconId': 3379, 'revisionDate': 1624221080000, 'summonerLevel': 166}

In [3]:
my_ranked_stats = lol_watcher.league.by_summoner(my_region, me['id'])
print(my_ranked_stats)

my_matches = lol_watcher.match.matchlist_by_account(my_region, me['accountId'])
last_match = my_matches['matches'][99]
match_detail = lol_watcher.match.by_id(my_region, last_match['gameId'])
print(last_match)
print(len(my_matches['matches']))

[{'leagueId': '889fff5e-4a8d-4d1f-ad95-ff0e3ce46ea5', 'queueType': 'RANKED_FLEX_SR', 'tier': 'SILVER', 'rank': 'I', 'summonerId': 'lWi5HaaehFeaGAfBcTt0rC1ZwbGADdfzMufodzqWLxti', 'summonerName': 'srTe', 'leaguePoints': 57, 'wins': 39, 'losses': 33, 'veteran': False, 'inactive': False, 'freshBlood': False, 'hotStreak': False}]
{'platformId': 'LA2', 'gameId': 998522688, 'champion': 412, 'queue': 400, 'season': 13, 'timestamp': 1615769763714, 'role': 'DUO_SUPPORT', 'lane': 'BOTTOM'}
100

In [4]:
participants = []
for row in match_detail['participants']:
    participants_row = {}
    participants_row['champion'] = row['championId']
    participants_row['spell1'] = row['spell1Id']
    participants_row['spell2'] = row['spell2Id']
    participants_row['win'] = row['stats']['win']
    participants_row['kills'] = row['stats']['kills']
    participants_row['assists'] = row['stats']['assists']
    participants_row['deaths'] = row['stats']['deaths']
    participants_row['totalDamageDealt'] = row['stats']['totalDamageDealt']
    participants_row['goldEarned'] = row['stats']['goldEarned']
    participants_row['champLevel'] = row['stats']['champLevel']
    participants_row['totalMinionsKilled'] = row['stats']['totalMinionsKilled']
    participants_row['item0'] = row['stats']['item0']
    participants_row['item1'] = row['stats']['item1']
    participants.append(participants_row)
df = pd.DataFrame(participants)
df

,champion,spell1,spell2,win,kills,assists,deaths,totalDamageDealt,goldEarned,champLevel,totalMinionsKilled,item0,item1
0,4,4,14,True,5,12,9,134923,12278,16,159,3916,3152
1,75,4,12,True,2,8,9,98960,10218,15,134,1054,6632
2,412,3,4,True,3,14,5,27955,9186,14,39,3190,3105
3,222,4,7,True,19,13,5,262395,19492,18,255,3072,3006
4,121,11,4,True,12,11,4,202997,15375,16,29,6691,3111
5,157,14,4,False,8,10,9,191299,15615,17,190,1054,6673
6,876,4,11,False,9,12,9,231296,14778,17,60,3157,3165
7,21,7,4,False,2,6,9,96681,10198,15,132,1055,6671
8,63,4,14,False,5,10,10,86155,10666,16,50,3853,6653
9,98,4,12,False,8,11,4,117863,13042,18,179,0,3065